@model IEnumerable<DoAn_LTW.Models.DonHang>

@{
    ViewBag.Title = "ThongKeDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3><span>Thống Kê Đơn Hàng</span></h3>
    </div>
</div>
<hr />


<table class="table">
    <tr>
        <th>
            <label class="control-label" style="font-size :14px">Họ Tên</label>
        </th>
        <th>
            <label class="control-label" style="font-size :14px">Ngày Đặt</label>

        </th>
        <th>
            <label class="control-label" style="font-size :14px">Ngày Giao</label>

        </th>
        <th>
            <label class="control-label" style="font-size :14px">Địa Chỉ Giao</label>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaydat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaygiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachigiao)
            </td>
            <td>
                @Html.ActionLink("Chi Tiết", "ChiTietDonHang", new { id = item.madon }) |
            </td>
        </tr>
    }

</table>
